/* Styling the body */

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-image: url(../Images/bg.jpg);
  background-repeat: no-repeat;
      background-position-y: 29%;
  background-size: cover;
  height: 100%;
}

/* Add a background color to the top navigation bar */

.topnav{
	background-color: #426a88;
	border-bottom: 1px solid #426a88;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.logo{
	float: left !important;
	font-size: 20px;
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}
.topnav .links{
	float: right;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	color: white;
    font-size: 14px;
    font-weight: 400;
}

/* Change the color of links on hover */

.topnav .links:hover{
	color: #b6ff62;
	text-decoration: underline;
}

.topnav .logo:hover{
	color: #b6ff62;
}

.centered{
	text-align: center;
}

.contain{
	width: 80%;
	margin: 0 10%;
}

.home-text{
	margin : 10% 0 10% 0;
	color: #426a88;
}
.home-text p{
	margin-top: 10%;
}
.link-start{
	text-decoration: none;
    font-size: 1.4rem;
    border: none;
    color: #426a88;
    box-shadow: none;
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    font-weight: bold;
    outline: none;
}
.link-start:hover{
	color: #fff;
	background: #426a88;
}